<!DOCTYPE html>
<html lang="en-us">

<!-- Mirrored from htmlbeans.com/html/zuka-finance/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 13 Jul 2019 13:57:28 GMT -->
<head>
    <!-- set the encoding of your site -->
    <meta charset="utf-8">
    <!-- set the viewport width and initial-scale on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- set the apple mobile web app capable -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- set the HandheldFriendly -->
    <meta name="HandheldFriendly" content="True">
    <!-- set the apple mobile web app status bar style -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- set the description -->
    <meta name="description" content="Zuka - Finance HTML5 Template">
    <!-- set the Keyword -->
    <meta name="keywords" content="blog, clean, clear, creative, design web, ecommerce, flat, Indoor Furniture, marketing, portfolio, vineyard, wines, wines WordPress theme, winewinery">
    <meta name="author" content="Zuka - Finance HTML5 Template">
    <title>Zuka - Finance HTML5 Template</title>
    <!-- include the site stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900" rel="stylesheet">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="~/css/plugins.css">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/css/iconfonts.css">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="~/css/finance-style.css">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="~/css/finance-responsive.css">
</head>
<body>
    <!-- main container of the page -->
    <div id="wrapper">
        <!-- header of the page -->
        <header id="header">
            <!-- header top of the page -->
            <div class="header-top bg-grey">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-5 col-sm-6 hidden-xs">
                            <div class="language-holder pull-left">
                                <button class="btn-default dropdown-toggle" type="button" id="language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="fas fa-globe-americas"></span>Language<span class="icon fas fa-sort-down"></span>
                                </button>
                                <ul class="dropdown-menu text-capitalize" aria-labelledby="language">
                                    <li class="active"><a href="#">english</a></li>
                                    <li><a href="#">turkish</a></li>
                                    <li><a href="#">fresnch</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <ul class="list-unstyled social-networks fwMedium">
                                <li class="visible-xs language">
                                    <a href="#" class="fas fa-globe-americas dropdown-toggle"></a>
                                    <ul class="dropdown-menu text-capitalize" aria-labelledby="language">
                                        <li class="active"><a href="#">english</a></li>
                                        <li><a href="#">turkish</a></li>
                                        <li><a href="#">fresnch</a></li>
                                    </ul>
                                </li>
                                <li class="visible-xs"><a href="#" title="8:30 am - 18:00 pm<br>monday - friday" class="icon far fa-clock"></a></li>
                                <li class="hidden-xs">Flow us:</li>
                                <li><a href="#" class="fab fa-twitter"></a></li>
                                <li><a href="#" class="fab fa-facebook-f"></a></li>
                                <li><a href="#" class="fab fa-skype"></a></li>
                                <li><a href="#" class="fab fa-tumblr"></a></li>
                                <li><a href="#" class="fab fa-linkedin-in"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header main of the page -->
            <div class="header-main bdr-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col-md-3">
                            <a href="index-2.html" class="logo fwbold pull-left">Zuka<span class="blue">Finance</span></a>
                        </div>
                        <div class="col-xs-6 col-md-9">
                            <a class="btn-primary lightbox hidden-xs pull-right fwSemi-bold text-uppercase" href="#popup1">get a quote</a>
                            <!-- contact list of the page -->
                            <ul class="list-unstyled pull-right contact-list fwMedium">
                                <li><a href="#"><span class="icon ti-menu nav-opener pull-left"></span></a></li>
                                <li class="open-close">
                                    <a href="#" class="opener"><span class="icon ti-search pull-left"></span></a>
                                    <form class="search-form slide pull-right">
                                        <fieldset>
                                            <input class="form-control bg-white" type="text" placeholder="Search...">
                                            <button type="submit" class="ti-search"></button>
                                        </fieldset>
                                    </form>
                                </li>
                                <li class="hidden-xs hidden-sm">
                                    <a href="#" class="icon ti-location-pin pull-left"></a>
                                    <div class="descrip pull-left">
                                        <address>3919 New Cut Rd, <span class="light-grey">Maryland, US</span></address>
                                    </div>
                                </li>
                                <li class="hidden-xs hidden-sm">
                                    <a href="tel:(+88)012-3455-678"><span class="icon ti-mobile pull-left"></span></a>
                                    <div class="descrip pull-left">
                                        <a href="tel:(+88)012-3455-678" class="tel">(+88) 012-3455-678</a>
                                        <span class="light-grey">Call Us Directly</span>
                                    </div>
                                </li>
                                <li class="hidden-xs hidden-sm">
                                    <a href="#"><span class="icon ti-alarm-clock pull-left"></span></a>
                                    <div class="descrip pull-left">
                                        <time datetime="2019-01-21">8:30 am - 18:00 pm</time>
                                        <span class="light-grey text-capitalize">monday - friday</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- menu holder of the page -->
            <div class="menu-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="#" class="logo fwbold pull-left">Zuka<span class="blue">Finance</span></a>
                            <!-- nav of the page -->
                            <nav id="nav" class="pull-left hb-navigation">
                                <ul class="list-unstyled text-capitalize">
                                    <li class="active"><a href="index-2.html">home</a></li>
                                    <li><a href="about-us.html">About</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="javascript:void(0);">Services <i class="fas fa-angle-down pull-right hidden visible-xs visible-sm"></i></a>
                                        <ul class="list-unstyled sub-menu">
                                            <li><a href="service.html">Service</a></li>
                                            <li><a href="service-detail.html">Service Detail</a></li>
                                            <li><a href="service-detail-right-sidebar.html">Service Detail right sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="javascript:void(0);">Pages <i class="fas fa-angle-down pull-right hidden visible-xs visible-sm"></i></a>
                                        <ul class="list-unstyled sub-menu">
                                            <li><a href="project.html">Project</a></li>
                                            <li><a href="project-detail-fullwidth.html">Project Detail Fullwidth</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="javascript:void(0);">Blog <i class="fas fa-angle-down pull-right hidden visible-xs visible-sm"></i></a>
                                        <ul class="list-unstyled sub-menu">
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-left-sidebar.html">Blog leftsidebar</a></li>
                                            <li><a href="blog-detail.html">Blog Detail</a></li>
                                            <li><a href="blog-detail-left-sidebar.html">Blog Detail leftsidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact-us.html">Contact us</a></li>
                                    <li class="visible-xs hidden"><a class="lightbox" href="#popup1">Get a Quote</a></li>
                                </ul>
                            </nav>
                            <div class="icon-holder open-close pull-right">
                                <a href="#" class="opener fas fa-search"></a>
                                <!-- search form of the page -->
                                <form class="search-form slide pull-right">
                                    <fieldset>
                                        <input class="form-control bg-white" type="text" placeholder="Search...">
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        @RenderBody()
        <!-- footer of the page -->
        <footer id="footer" class="bg-grey">
            <!-- footer main of the page -->
            <div class="footer-main container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="f-logo fwbold">
                            <a href="#">Zuka <span class="blue">Finance</span></a>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                        <!-- contact list of the page -->
                        <ul class="list-unstyled fwMedium contact-list">
                            <li>
                                <span class="pull-left icon ti-location-pin"></span>
                                <address class="pull-left">198 Collins St, Melbourne, NY</address>
                            </li>
                            <li>
                                <span class="pull-left icon ti-mobile"></span>
                                <a class="pull-left" href="tel:12345678910">(12) 345 678 910</a>
                            </li>
                            <li>
                                <span class="pull-left icon ti-email"></span>
                                <a class="pull-left" href="#">DeerCreative@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <h3 class="f-heading fwLight text-capitalize">recent post</h3>
                        <!-- post list of the page -->
                        <ul class="list-unstyled fwRegular post-list">
                            <li>
                                <h5 class="heading8"><a href="#">F&O cues: Nifty 11100 Put adds 4.6 lakh shares in</a></h5>
                                <time class="text-uppercase time" datetime="2019-12-24">Thurday, 25th January 2018</time>
                            </li>
                            <li>
                                <h5 class="heading8"><a href="#">Bharat Bijlee touched 52-week high on strong Q3</a></h5>
                                <time class="text-uppercase time" datetime="2019-12-24">Thurday, 25th January 2018</time>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <h3 class="f-heading fwLight text-capitalize">our link</h3>
                        <!-- link list of the page -->
                        <ul class="list-unstyled link-list">
                            <li><a href="#" class="text-capitalize">home</a></li>
                            <li><a href="#" class="text-capitalize">contacts</a></li>
                            <li><a href="#" class="text-capitalize">about</a></li>
                            <li><a href="#" class="text-capitalize">fags</a></li>
                            <li><a href="#" class="text-capitalize">service</a></li>
                            <li><a href="#" class="text-capitalize">404</a></li>
                            <li><a href="#" class="text-capitalize">blogs</a></li>
                            <li><a href="#" class="text-capitalize">careers</a></li>
                            <li><a href="#" class="text-capitalize">project</a></li>
                            <li><a href="#" class="text-capitalize">support</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 news-detail">
                        <h3 class="f-heading fwLight text-capitalize">subscribe newsletter</h3>
                        <p>Sign-up our newsletter and get the latest content right to your inbox:</p>
                        <form class="subscribe-form">
                            <fieldset>
                                <input type="email" class="form-control fwMedium" placeholder="Your Email">
                                <button type="submit" class="btn-primary fas fa-paper-plane"></button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <!-- footer area of the page -->
            <div class="footer-area container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <span class="text">Copyright © 2019 <a href="index-2.html">ZukaFinance </a> Inc. All rights reserved</span>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <ul class="list-unstyled social-networks fwMedium">
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-facebook-f"></a></li>
                            <li><a href="#" class="fab fa-skype"></a></li>
                            <li><a href="#" class="fab fa-tumblr"></a></li>
                            <li><a href="#" class="fab fa-linkedin-in"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="popup-holder">
        <div id="popup1" class="lightbox-demo">
            <div class="appointment-holder">
                <div class="header text-center">
                    <h2 class="heading2 text-uppercase">Book Appointment</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed<br class="hidden-xs"> eiusmod tempor ever since the 1500s.</p>
                </div>
                <form class="appointment-form">
                    <fieldset>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <div class="col">
                                <input type="email" class="form-control" placeholder="Your Email">
                            </div>
                            <div class="col">
                                <input type="tel" class="form-control" placeholder="Your Phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <select>
                                <option value="0">Choose Your Plan</option>
                                <option value="1">Basic plan</option>
                                <option value="2">Standard plan</option>
                                <option value="3">Premium plan</option>
                            </select>
                        </div>
                        <button type="submit" class="btn-primary fwSemi-bold text-uppercase">Send Now</button>
                    </fieldset>
                </form>
                <span class="txt text-center">* We don’t spam customers. Check our <a href="#">Privacy Policy</a> to learn more.</span>
            </div>
        </div>
    </div>
    <!-- include jQuery -->
    <script src="~/js/jquery.js"></script>
    <!-- include jQuery -->
    <script src="~/js/plugins.js"></script>
    <!-- include jQuery -->
    <script src="~/js/jquery.main.js"></script>
</body>

</html>